#clock {
  font-size: 100px;
  text-decoration: underline 10px black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#weather {
  height: 291px;
}

#greeting {
  font-size: 50px;
  font-weight: 600;
  margin: 200px 0px;
}

#over-form,
#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 500px;
  padding: 40px;
  border-radius: 20px;
  border: solid 5px black;
  margin: 0px 100px;
}

.special-input {
  border: solid 4px black;
}

#login-form {
  text-align: center;
  margin: 210px 0px;
}

form input {
  border: none;
  font-family: "Courier Prime", "Yeon Sung", sans-serif;
  padding: 10px;
  width: 300px;
  border-radius: 20px;
}
form input::placeholder {
  color: black;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#todo-list button {
  border: none;
  margin-left: 10px;
  background-color: white;
}

#todo-list button:hover {
  cursor: pointer;
}

#sideBySide {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#yep {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather h1 {
  margin: 0;
  margin-bottom: 20px;
}

#yep span {
  font-size: 20px;
  font-weight: 500;
}

#weather h2,
#weather h3 {
  opacity: 0.6;
}

#quote {
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 30px;
}

#quote span:first-child {
  font-family: "Cormorant Garamond", "Yeon Sung", sans-serif;
  font-size: 45px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#quote span:last-child {
  font-size: 25px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
