#clock {
  font-size: 3.9vw;
  text-decoration: underline 0.4vw black;
  text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#weather {
  height: 291px;
}

#greeting {
  font-size: 4vh;
  font-weight: 600;
  margin: 7.86% 0;
}

#over-form,
#weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 19.5%;
  padding: 1.55vw;
  border-radius: 20px;
  border: solid 5px black;
  margin: 0 3.9vw;
  height: 100%;
}

.special-input {
  border: solid 4px black;
}

#login-form {
  text-align: center;
  margin: 8.2vw 0;
}

form input {
  border: none;
  font-family: "Courier Prime", "Yeon Sung", sans-serif;
  padding: 0.4vw;
  width: 15vw;
  text-align: center;
  border-radius: 0.82vw;
}

#todo-form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#todo-form input {
  width: 73%;
  text-align: center;
}

form input::placeholder {
  color: black;
}

#todo-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80%;
  font-size: 0.79vw;
  font-weight: 600;
  margin: 0;
  margin-top: 0.79vw;
}

#todo-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
}

#todo-list button {
  border: none;
  background-color: white;
}

#todo-list button:hover {
  cursor: pointer;
}

#sideBySide {
  display: flex;
  justify-content: space-between;
  width: 100vw;
}

#yep {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#weather h1 {
  margin: 0;
  margin-bottom: 0.79vw;
}

#yep span {
  font-size: 0.79vw;
  font-weight: 500;
}

#weather h2,
#weather h3 {
  opacity: 0.6;
}

#quote {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 1.2vw;
}

#quote span:first-child {
  font-family: "Cormorant Garamond", "Yeon Sung", sans-serif;
  font-size: 1.73vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#quote span:last-child {
  font-size: 0.96vw;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
